/* taking universal selector * for every element and giving it a box-sizing of 'border-box',padding 0 and magin 0 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* giving whole body of html page a background color */
body {
  background-color: #d9dcd6;
}

/* giving some values to navbar padding,font-family & a background   
   color */
.navbar {
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #ac9fbb;
}

/* giving .name div some padding,background color,some margin,font size,
   text color and display position of inline-block */
.name {
  padding: 5px;
  background-color: #ddbdd5;
  margin-left: 20px;
  font-size: 48px;
  color: #582f0e;
  display: inline-block;
}

/* giving div with navbarDiv-links property like float 'right', padding,
   margin,font-family and font-size . */
.navbarDiv-links {
  float: right;
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

/* giving li of .navbarDiv-links a display poerty of 'inline-block' and 
   left margin */
.navbarDiv-links ul li {
  display: inline-block;
  margin-left: 25px;
}

/* giving anchor tags of .navbarDiv-links a text color */
.navbarDiv-links a {
  color: #ffffff;
}

/* adding a background image to div .background-image */
.background-image {
  padding: 80px;
  background-image: url(./background-image/background-image1.jfif);
}

.subtitle {
  float: right;
  padding: 5px;
  background-color: #ddfcad;
  margin-right: 20px;
  font-size: 28px;
  font-family: cursive;
  color: #582f0e;
}
